ion-toolbar {
    --background: #3880ff !important;
    }
    img{
        max-width: 70%;
    }
  
    ion-card{
      border-radius: 25px 25px 25px 25px !important;
      margin-top: 20px !important;
      --background: linear-gradient(95deg, #3880ff 0%, #ffb389 100%);
      //background-image: linear-gradient(225deg, #ddc34e 0%, #f0d55f 5%,  #fbe150 100%);
      ion-item{
                 background-color: transparent!important;
                 padding-top: 0px !important;
     
                 h3{
                     background-color: transparent!important;
                     margin: 0 !important;
                     color: white !important;
                     font-size: 14px;
                     box-shadow: 0px 1px 1px rgba(0,0,0,0.08);
                 }
                 h2{
                     background-color: transparent!important;
                     margin: 0 !important;
                     color: white !important;
                     font-size: 14px;
                     box-shadow: 0px 1px 1px rgba(0,0,0,0.08);
                 }
                 
                 p {
                    color: #3880ff !important
                 }

                
                
             }
      }
  
  .toolbar-background{
     background-color: #3880ff !important;
     color: white !important;
    }
  
    .toolbar-title{
      color: white!important;
  }
  
  .backheader{
     z-index: 1;
     position: relative;
     width: 100% !important;
  
     img{
         width: 100% !important;
     }
    
  }
  
  .frontheader{
     position: relative;
     z-index: 2;
     margin-top: -10px;
  
     
  }
  
  .topheader{
     
     ion-item{
         background: transparent !important;
     }
     .imghloder{
         width: 90px;
          height: 90px;
          border: 1px solid #3880ff;
          border-radius: 50%;
          margin-left: 20px !important;
     }
      img{
          width: 60px;
          height: 60px;
         // border: 1px solid #FFAE87;
         // border-radius: 50%;
      }
  }
  
  .cat-rows {
     justify-content: space-around;
     margin-bottom: 0px;
     padding: 0 5px;
  
     .cat-box {
         
         background-color: rgb(255, 255, 255);
         border-radius: 5px;
         box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.103);
         margin: 5px;
         max-width: 300px;
         min-height: 15vh;
         padding: 5px;
         text-align: center;
         height: 120px;
  
         .catimgholder{
             padding-top: 10px;
             
             img{
                 max-height: 50px;
                 height: 50px;
                 max-width: 50px;
             }
            
         }
         p{
             margin: 0;
             margin-top: 10px !important;
             color: #3880ff;
         }
  
       }
   }
  
  