<ion-header>
  <ion-toolbar>
    <ion-title>Account DID</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="topheader" text-center>
        <ion-card>
          <ion-item no-lines>
            <div item-start text-center padding>
              <img src="{{ userinfo.profileImage }}" alt="">
            </div>
          </ion-item>
            <ion-item no-lines>
              <ion-label item-start>{{userinfo.name}}</ion-label>
            </ion-item>

        </ion-card>
        <ion-card>
              <ion-item>
                <ion-label item-start>{{userinfo.email}}</ion-label>
              </ion-item>

        </ion-card>

        <ion-card>
              <ion-item>
                <ion-label item-start>{{did.did}}</ion-label>
              </ion-item>

        </ion-card>
      </div>
</ion-content>
