<ion-header>
  <ion-toolbar>
    <ion-title>
      influencers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center padding>
        
    <img src="assets/logo.png" alt="">
    
    <h2 style="color: #3880ff"></h2>
    <h4 style="color: #3880ff"> Reward and recognize influencers for sharing your blogs and content </h4>
</div>
<div text-center padding>
    <ion-button class="loginbtn" color="primary"  shape="round" expand="fill" (click)="login()">LOGIN</ion-button>
    <h4 style="color: #3880ff">Powered by Torus & DIDs</h4>
</div>
</ion-content>
